.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__image {
    height: 6rem;
    width: 6rem;
}

.loader__image--list {
    height: 3rem;
    width: 3rem;
}

.loadinglist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}